on boot
    # Hardware tunables
    # Vibrator intensity
    chown root system /sys/class/timed_output/vibrator/dutycycle
    chmod 0664 /sys/class/timed_output/vibrator/dutycycle
    restorecon /sys/class/timed_output/vibrator/dutycycle
    # Adaptive backlight
    chown root system /sys/devices/tegradc.0/smartdimmer/enable
    chmod 0664 /sys/devices/tegradc.0/smartdimmer/enable
    restorecon /sys/devices/tegradc.0/smartdimmer/enable
    # Button backlight
    chown root system /sys/class/leds/button-backlight/button_brightness
    chmod 0664 /sys/class/leds/button-backlight/button_brightness
    restorecon /sys/class/leds/button-backlight/button_brightness

# pollyd (respect & thanks to Adrian Ulrich <adrian@blinkenlights.ch> )
service pollyd /system/bin/pollyd
    class late_start
    user root
    group root